---
import Margin from "../components/Margin.astro";
import Master from "../components/Master.astro";
import Padding from "../components/Padding.astro";
---

<Master>
	<Margin>
		<Padding>
			<h1>Hello world</h1>
		</Padding>
	</Margin>
</Master>
