---
import Margin from "../components/Margin.astro";
import Master from "../components/Master.astro";
import Padding from "../components/Padding.astro";
---

<Master>
	<Margin>
		<Padding>
			<h1 class="flex justify-center text-2xl md:text-3xl">Timer</h1>
			<p class="flex justify-center">This is a simple open-source Pomodoro timer</p>
			<p class="flex justify-center text-sm">This software is under the MIT license</p>
		</Padding>
	</Margin>
</Master>
